@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

span {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 100;
  color: grey;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: justify;
}

.superindice {
  vertical-align: super;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

span {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 100;
  color: grey;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: justify;
}

.superindice {
  vertical-align: super;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
}

.titulo-inicial h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}

.titulo-inicial span {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 100;
  color: grey;
}

.titulo-inicial p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

span {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 100;
  color: grey;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: justify;
}

.superindice {
  vertical-align: super;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
}

.mini-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  gap: 1em;
}

.mini-card img {
  width: 100px;
}

.mini-card p {
  text-align: center;
}

.card-servicios {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 15px;
  padding: 25px;
  border-radius: 20px;
}

.card-servicios h3 {
  text-align: left;
  margin-bottom: 15px;
}

.card-servicios a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: black;
}

main {
  margin-left: 2em;
  margin-right: 2em;
}

.carrousel {
  margin-top: 35px;
  margin-bottom: 35px;
}

.atencion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/*# sourceMappingURL=style.css.map */