@import "./base/reset";
@import "./base/colors";
@import "./base/typografy";
@import "./base/margin--padding";

@import "./components/buttons";
@import "./components/card";
@import "./components/style-footer";
@import "./components/header-style";
@import "./components/style-sobre_mi";
@import "./components/contacto";
@import "./components/style-clientes";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/section-manejo";
@import "./layout/section-carrousel";
@import "./layout/section-atencion";
@import "./layout/section-servicios";
@import "./layout/section-ebook";
@import "./layout/section-clientes";
@import "./layout/section-sobre_mi";
@import "./layout/section-contacto";
