$fuente-principal:'Josefin Slab', serif;
$fuente-secundaria:'Pacifico', cursive;
$fuente-links:'Special Elite', cursive;

#header{
    background-color: black;
   
    .nav-brand{
        font-family: $fuente-links;
        color: white;
        margin:10px;
        font-size: xx-large;
        text-align: center;
    }
    .nav-link{
        font-family: $fuente-links;
        color: white;
        margin: 15px;
    }
    .nav-link:hover{
        background-color: white;
        color: black;
        text-decoration: overline;
      
    }

}