.sobre_mi{
    margin-left: 1.5em;
    margin-right: 1.5em;
    .avatar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}