
$margin:35px;

.carrousel{
    margin: $margin;
}

@media screen and (min-width: 768px){
    .carrousel{
       width: 736px;
       height: 628px;
       margin: 0 auto;
       
        img{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 736px;
            height: 628px;
        }
    }
}
