@import "../base/colors";
@import "../base/typografy";

.bt{
    width: 117.54px;
    height: 32px;
    background-color: $color-primario;
    color: white;
    border: 0;
    border-radius: 19px;
    display: block;
    font-weight: 700;
}

.bt-propuestas{
    box-sizing: border-box;


    width: 167.32px;
    height: 38px;
    left: 110px;
    top: 1346px;
    border: 0;
    
    /* Secondary */
    
    background: #3A8FBE;
    border-radius: 23.0883px;

    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 9.80645px;
line-height: 12px;
color: #FFFFFF
/* identical to box height */



}

.bt-descarga{
    background-color: white;
    width: 117.54px;
    height: 32px;
    border: 1px solid $color-primario;
    border-radius: 21px;
}

.bt-form{
    width: 117.54px;
    height: 32px;
    background-color: $color-primario;
    color: white;
    border: 0;
    border-radius: 19px;
    display: block;
    
}

.boton--container{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px){
    .bt{
        width: 194px;
        height: 52.82px;
        border-radius: 32px;
        font-size: 16px;
        font-weight: 700;
    }
    
    .bt-propuestas{
        width: 273px;
        height: 62px;
        border-radius: 37px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;


    }

    .bt-form{
        width: 194px;
        height: 52.82px;
        border-radius: 32px;
        font-size: 16px;
        font-weight: 700;
        
    }
    
}