@import "../base/typografy";
@import "../base/colors";

.mini-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110px;
    gap: 1em;
    img{
        width: 100px;
    }
    p{
        text-align: center;
    }
}


.card-servicios{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
    margin: 15px;
    padding: 25px;
    border-radius: 20px;

    h3{
        font-family: $fuente-secundaria;
        color: $color-secundario;
        text-align: left;
        margin-bottom: 15px;
    }
    a{
        text-decoration: none;
        font-family: $fuente-primaria;
        color: black;
    }
    img{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
}

