@import "../base/colors";

header{
    margin-bottom: 2em;
    img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
    }
    a{ text-align: center; }
    a:hover{
      font-weight: 800;
      color:#fff;
    }  
}

@media screen and (min-width: 768px){

a {
    position: relative;
    text-decoration: none;
  }
  
  a:hover {
    color: #000;
  }

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color-primario;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
a:hover::before {
    transform: scaleX(1);
  }
}