.clientes{
    .mini-card{
        background-image: url(../img/background-comment.png);
        background-position: center;
        background-repeat: no-repeat;
        h4{
            text-align: center;
        }
    }
}

@media screen and (min-width: 1024px){
    .mini-card{
        background-size: cover;
    }
}