@import "../base/colors";

.clientes{
    background-color: #EAD2E2;
    h2{ color: $color-clientes-primario;}
    margin-top: 15px;

    .arrow_box {
        width: 80%;
        border-radius: 10px;
        position: relative;
        background: #ffffff;
        border: 4px solid #ffffffff;
        padding: 10px;
        margin-bottom: 40px;
        text-align: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        
    }
    .arrow_box:after, .arrow_box:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .arrow_box:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #ffffff;
        border-width: 10px;
        margin-left: -30px;
    }
    .arrow_box:before {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #ffff;
        border-width: 36px;
        margin-left: -36px;
    }
    .nombre_cliente{
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }
    p{
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }

}

