.sobre_mi{
    .avatar{
        img{
            width: 60%;
            height: auto;
        }
    }
}

@media screen and (min-width: 768px){
    .sobre_mi{ 
        .avatar{
            img{
                width: 70%;
                height: auto;
            }
        }
        .titulo{
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url("../img/background_sobre-mi.png");
            background-repeat: no-repeat;
            background-position: center;
            h2{
                margin-top:15px;
                margin-bottom: 20px;
            }
            

        }
    }
}

@media screen and (min-width: 1024px){
    .avatar{
        width: 550px;
        height: 550px;
        margin: 0 auto;
    }
}