@import "../base/typografy" ;

.titulo-inicial {
    h2{
        font-family: $fuente-primaria;
        text-align: center;  
        font-size: 1.5em;     
        font-weight: 700; 
    }
    span{
        font-family: $fuente-secundaria;
        text-align: center;
        font-weight: 100;
        color: grey;        
    }
    p{
        font-family: $fuente-secundaria;
        font-weight: 400;
        font-size: 1em;

    }
}