@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import "./colors";

$fuente-primaria: 'Abril Fatface', cursive;
$fuente-secundaria: 'Montserrat', sans-serif;

h2{
    font-family: $fuente-primaria;
    text-align: center;  
    font-size: 2.2em;     
    font-weight: 700; 
}

h3{
    font-family: $fuente-primaria;
    text-align: center;  
    font-size: 2em;     
    font-weight: 700; 
}

h4{
    font-family: $fuente-primaria;
    font-size: 1.7em;     
    font-weight: 700; 
}
h5{
    font-family: $fuente-secundaria;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;

}

span{
    font-family: $fuente-secundaria;
    text-align: center;
    font-weight: 100;
    color: $color-primario;        
}
p{
    font-family: $fuente-secundaria;
    font-weight: 400;
    font-size: 1.2em;
    text-align: justify;

}

.superindice{
    vertical-align: super;
    text-align: center;
    font-family: $fuente-secundaria;
    font-size: 0.8em;
}

body{
    font-size:70%;
    }
@media screen and (min-width:47em){
    body{
    font-size:80%;
    }
}
@media screen and (min-width:60em){
    body{
    font-size:100%;
   }
}


